<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acceuil</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Salon-Blanc Madagascar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto"> <!-- Utilisation de ml-auto pour aligner à droite -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/rendezvous">Rendez-vous</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">Log Out</a>
                </li>
                <li class="nav-item">
                    <div *ngIf="showRDVAlert" class="alert alert-warning mt-2" role="alert" id="notificationBanner1">
                        Votre rendez-vous sera le "29 Février 2024".
                    </div>
                </li>
                <li class="nav-item">
                    <span class="nav-link">Argent: {{ argentClient }} Ariary</span>
                </li>
            </ul>
        </div>
    </div>
</nav>

  <div style="position: relative;">
    <img src="../../assets/img/home.png" class="d-block w-100" alt="..." style="object-fit: cover; height: 700px; border-radius: 5px;">
    <div class="card-body" style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.5); color: white; padding: 10px;">
      <h1 style="text-align: center;">Bienvenue Chez Salon-Blanc Madagascar</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <h2 style="text-align: center;margin-top: 30px;">Nos services</h2>
      <hr>
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <form>
          <div class="search-container">
            <input class="form-control search-input" type="text" name="search" placeholder="Que recherchez-vous?" [(ngModel)]="form.recherche">
            <button class="btn btn-secondary search-button" type="submit" (click)="rechercher()"><span class="fa fa-search" style="color: white;"></span> Rechercher</button>
          </div>
        </form>
        <div *ngIf="showEmptyAlert" class="alert alert-danger mt-2" role="alert">
          Veuillez entrer quelque chose à rechercher.
        </div>
        <div *ngIf="showNotFoundAlert" class="alert alert-warning mt-2" role="alert">
            Aucun service trouvé pour la recherche "{{ form.recherche }}".
        </div>
        <div *ngIf="showPromotionAlert" class="alert alert-warning mt-2" role="alert" >
          Nouvelle promotion sur toutes les manucures.
        </div>
      </div>
      <div class="col-md-2">
      </div>

      <div class="col-md-3">
        <div class="card">
          <div style="position: relative;">
          <img src="../../assets/img/coiffure.jpg" class="card-img-top" alt="..." style="height: 450px;width: 100%;">
          <div class="card-body" style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.5); color: white; padding: 10px;">
            <a class="card-title" routerLink="/dragDropCheveux">Cheveux</a>
          </div>
        </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div style="position: relative;">
            <img src="../../assets/img/manucure.jpg" class="card-img-top" alt="..." style="height: 450px;width: 100%;">
            <div class="card-body" style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.5); color: white; padding: 10px;">
              <a class="card-title" routerLink="/dragDrop">Manucure</a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="card">
            <div style="position: relative;">
                <img src="../../assets/img/peducure.jpg" class="card-img-top" alt="..." style="height: 450px;width: 100%;">
                <div class="card-body" style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.5); color: white; padding: 10px;">
                    <a class="card-title" routerLink="/dragDropPeducure">Péducure</a>
                </div>
            </div>
        </div>
    </div>

    </div>
  </div>
  
  
  <footer class="footer py-4">
    <div class="container text-center">
      <p>ANDRIANIAINA Tanjona Jerry</p>
      <p>RAMAROKOTO Nomenjanahary</p>
      <p>© 2024 Salon-Blanc Madagascar.</p>
    </div>
    <a class="admin-link" routerLink="/adminLog" style="color:rgb(168,155,141); text-decoration: none" >MANAGER</a>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  

</body>
</html>
